<!doctype html>
<html lang="ja" ng-app="ngApp">

<head>
    <meta charset="UTF-8">
    <title>タイピングソフト</title>
    <!-- jQuery -->
    <script src="common/libs/jquery/jquery-2.2.1.min.js"></script>
    <!-- Normalize.css -->
    <link rel="stylesheet" href="common/libs/normalize/normalize.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="common/libs/bootstrap/css/bootstrap-theme.min.css">
    <script src="common/libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="common/libs/fontawesome/css/font-awesome.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="common/libs/ionicons/css/ionicons.min.css">

    <!-- Angular 1 -->
    <script src="common/libs/angular/angular.min.js"></script>

    <link rel="stylesheet" href="common/css/style.css">
    <script src="ng/ctrl/main.js"></script>
</head>

<body>
    <div ng-controller="mainController">
        <!--{{test}}<br>-->
        <input type="text" ng-model="calcDisplay" ng-enter="pressEnter()"><br>
        <button type="button" class="btn btn-default" ng-click="inputValue(7)">7</button>
        <button type="button" class="btn btn-default" ng-click="inputValue(8)">8</button>
        <button type="button" class="btn btn-default" ng-click="inputValue(9)">9</button>
        <button type="button" class="btn btn-primary" ng-click="clear()">C</button><br>
        <button type="button" class="btn btn-default" ng-click="inputValue(4)">4</button>
        <button type="button" class="btn btn-default" ng-click="inputValue(5)">5</button>
        <button type="button" class="btn btn-default" ng-click="inputValue(6)">6</button>
        <button type="button" class="btn btn-success" ng-click="calcrate('/')">/</button><br>
        <button type="button" class="btn btn-default" ng-click="inputValue(1)">1</button>
        <button type="button" class="btn btn-default" ng-click="inputValue(2)">2</button>
        <button type="button" class="btn btn-default" ng-click="inputValue(3)">3</button>
        <button type="button" class="btn btn-success" ng-click="calcrate('*')">*</button><br>
        <button type="button" class="btn btn-default" ng-click="inputValue(0)">0</button>
        <button type="button" class="btn btn-primary" ng-click="calcrate('=')">=</button>
        <button type="button" class="btn btn-success" ng-click="calcrate('+')">+</button>
        <button type="button" class="btn btn-success" ng-click="calcrate('-')">-</button>
    </div>
</body>